step-functions/ecommerce-step.json
{
  "Comment": "ETL Pipeline Medallion Architecture",
  "StartAt": "Bronze to Silver",
  "States": {
    "Bronze to Silver": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "{{GLUE_JOB_BRONZE_NAME}}",
        "Arguments": {
          "--input_key.$": "$.input_key",
          "--input_bucket.$": "$.input_bucket"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["GlueException", "States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Error"
        }
      ],
      "ResultPath": "$.silverOutput",
      "Next": "Silver to Gold"
    },
    "Silver to Gold": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "{{GLUE_JOB_SILVER_NAME}}",
        "Arguments": {
          "--input_bucket.$": "$.input_bucket"
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["GlueException", "States.TaskFailed"],
          "IntervalSeconds": 60,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Error"
        }
      ],
      "ResultPath": "$.goldResult",
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Error": {
      "Type": "Fail",
      "Error": "ETLPipelineFailed",
      "Cause": "Error en el proceso ETL"
    }
  }
}