step-functions/ecommerce-step.json
{
    "Comment": "Pipeline que transforma datos de Bronze a Gold",
    "StartAt": "Ejecutar Glue Job",
    "States": {
      "Ejecutar Glue Job": {
        "Type": "Task",
        "Resource": "arn:aws:states:::glue:startJobRun",
        "Parameters": {
          "JobName": "ecommerce-glue-job-iac",
          "Arguments": {
            "--input_key.$": "$.input_key",
            "--input_bucket.$": "$.input_bucket"
          }
        },
        "ResultPath": "$.glueResult",
        "Next": "Esperar 30 segundos"
      },
      "Esperar 30 segundos": {
        "Type": "Wait",
        "Seconds": 30,
        "Next": "Verificar Glue Job"
      },
      "Verificar Glue Job": {
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:glue:getJobRun",
        "Parameters": {
          "JobName": "ecommerce-glue-job-iac",
          "RunId.$": "$.glueResult.JobRunId"
        },
        "ResultPath": "$.glueStatus",
        "Next": "Evaluar Estado del Glue Job"
      },
      "Evaluar Estado del Glue Job": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.glueStatus.JobRun.JobRunState",
            "StringEquals": "SUCCEEDED",
            "Next": "Exito"
          },
          {
            "Variable": "$.glueStatus.JobRun.JobRunState",
            "StringEquals": "FAILED",
            "Next": "Fallo en Glue"
          },
          {
            "Variable": "$.glueStatus.JobRun.JobRunState",
            "StringEquals": "TIMEOUT",
            "Next": "Fallo en Glue"
          }
        ],
        "Default": "Esperar 30 segundos"
      },
      "Fallo en Glue": {
        "Type": "Fail",
        "Error": "GlueJobFailed",
        "Cause": "El Glue Job no se completó correctamente"
      },
      "Exito": {
        "Type": "Succeed"
      }
    }
  }